body,
html {
	height: 100%;
}
body {
	font-family: sans-serif;
}
/*==========================*/
/*        Reset CSS         */
/*==========================*/
a,
a:hover,
a:active {
	color: inherit;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid;
    border-color: rgba(158,173,195,.16);
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fefeff;
}
.table>tbody>tr>td {
    color: #918D99;
}

button:focus {
	outline: 0;
}

.padding-box {
	padding: 15px 20px;
}


.box:hover {
	cursor: pointer;
}


/*==========================*/
/*     Panel lateral        */
/*==========================*/
#app {
	position: relative;
	width: 100%;
}
#page-sidebar {
	background: #d6d6d6;
	float: left;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 300px;
	z-index: 20;
}
.background-auth {
	background: #272634 !important;
}
#sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 5px 20px;
}
#header-logo {
    height: 60px;
    position: relative;
	padding: 2rem;
	text-align: center;
}
#user {
	background: #201f2b;
	/*height: 80px;*/
	padding: 2rem;
}
.login {
	background: #fc7323;
	border: none;
	color: #fff;
	margin-left: 7rem;
	padding: 0.5rem 1rem;
}
.logout {
	font-size: 1.3rem;
	display: block;
	text-align: right;
}
#sidebar-menu li.header {
    color: rgba(255,255,255,.5);
}
.sidebar-links {
	font-size: 14px;
	font-weight: 400;
	height: 32px;
	line-height: 32px;
	padding: 0;
}
.sidebar-links .badge {
	font-size: 10px;
}
.sidebar-links i {
	background: rgba(0,0,0,.31);
	font-size: 16px;
	line-height: 31px;
	display: block;
	float: left;
	width: 32px;
	margin-right: 10px;
	margin-left: 0;
	border-radius: 3px;
	text-align: center;
	height: 32px;
}
#page-sidebar ul li {
	margin: 8px 0;
	position: relative;
}
/*#page-sidebar ul li a.sidebar-links:after, .icon-angle-right:before {
    content: "\f105";
}

.sidebar-links:after {
	line-height: 21px;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}*/

/*==========================*/
/*    Contenido de página   */
/*==========================*/
#page-content-wrapper {
    float: left;
	padding-top: 60px;
	width: 100%;
}
#page-content {
	margin-left: 300px;
    padding: 20px 30px;
}
.box-wrapper {
	margin-bottom: 2rem;
}
.box {
	background: #fff;
	border: 0.2px solid #efefef;
	display: block;
	padding: 15px 20px;
}
.box-table {
	background: #fff;
	border: 0.2px solid #efefef;
}
.box-table h4 {
	border-bottom: #F7F7F7 solid 1px;
	margin: 0;
	padding: 15px 20px;
}
.historial-count {
	background: #fc7323;
	border-radius: 10rem;
    color: #fff;
	font-weight: 800;
    padding: 0.5rem;
}


.table-classrooms {
	border-collapse: separate;
    border-spacing: 0 0.5em;
	width: 100%;
}
.classroom {
	background: #fff;
	/*color: #fff;*/
	display: block;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 1rem;
	position: relative;
    text-transform: capitalize;
}
.classroom .fa-circle {
	color: #adff2f;
	font-size: 1rem;
    position: absolute;
	right: 1rem;
	top: 1.6rem;
}
#classrooms {
	transition: all 0.2 ease;
}
.cr-instructor {
	color: #b7b7b7;
	font-size: 1.5rem;
    font-weight: lighter;
    position: absolute;
    right: 3rem;
}
.cr-repair {
	background: #b80f0f;
	color: #fff;
}
.cr-repair:hover {
	color: #fff;
}
.cr-repair i {
	color: #ffca00;
}

.cr-inactive span,
.cr-repair span {
	font-size: 1rem;
	font-weight: 100;
	text-transform: initial;
	vertical-align: middle;
}
.cr-inactive {
	background: #909090;
}
.cr-inactive i {
	color: #b80f0f;
}
.cr:hover {
	cursor: not-allowed;
}




@media (min-width: 768px) {

}
